<!DOCTYPE html>
<html>
<head>
  <title>Src</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render partial: 'shared/navigation_bar' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-3">
      <%= render partial: 'shared/side_bar' %>
    </div>
    <div class="col-12 col-md-9">
      <%= yield %>
    </div>
  </div>
</div>

<%= render partial: 'shared/footer' %>
</body>
</html>
