<h1>New blog</h1>
<%= form_with scope: :article, url: blogs_path, local: true do |form| %>
    <% form.multipart %>
    <div>
      <%= form.label :thumbnail %>
      <%= form.file_field :thumbnail, id: :thumbnail %>
    </div>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title, id: :title %>
    </div>
    <div>
      <%= form.label :chapeau %>
      <%= form.text_field :chapeau, id: :chapeau %>
    </div>
    <div>
      <%= form.label :content %>
      <%= form.text_area :content, id: :content %>
    </div>
    <%= form.submit 'Save' %>
<% end %>