<img class="blogDetail-thumbnail img-fluid" src="<%= @article.thumbnail %>">
<h1 class="display-4"><%= @article.title %></h1>
<div class="blogDetail-meta">
  <small class="text-muted mr-auto"><%= @article.created_at %></small>
  <% if @article.view %>
      <small class="text-muted mr-auto"><%= @article.view %></small>
  <% end %>
</div>
<p class="lead"><%= @article.chapeau %></p>
<p><%= @article.content %></p>